.general {
    background: #2A7B9B;
	background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(209, 194, 194, 1) 34%, rgba(237, 221, 83, 1) 100%);
}

.tp5{
    background-color: lightgreen;
}

.credit {
		background: rgb(255 0 0);
}