body {
    margin: 0;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(209, 194, 194, 1) 34%, rgba(237, 221, 83, 1) 100%);
}

.general {
	margin: 50px 40px 50px 50px; 
}

.credit {
		background: rgb(255 0 0);
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
	border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#colonne1 {
    background-color: #6c97aa;
    color: white;
}

#colonne2 {
    background-color: #cdc0c1;
    color: white;
}

#colonne3 {
    background-color: #dacb9b;
    color: white;
}

#colonne4 {
    background-color: #e5d572;
    color: white;
}

#exception {
    background-color: #f2f2f2;
}

#colonne-samedi {
	background-color: #2f7d18
	color: white;
}

#colonne-dimanche {
	background-color: #2f7d18
	color: white;
}