.general {
	background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(209, 194, 194, 1) 34%, rgba(237, 221, 83, 1) 100%);
}

.tp5{
    background lightgreen;
}

.credit {
		background: rgb(255 0 0);
}

#calendrier-scolaire table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

#calendrier-scolaire th, 
#calendrier-scolaire td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#colonne1 {
    background-color: #4CAF50;
    color: white;
}

#calendrier-scolaire tr:nth-child(even) {
    background-color: #f2f2f2;
}

#repertoire-langage table {
	border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}